@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
@import 'overrides';
@import 'module';

body {
  background-color: color(quaternary);
}

header {
  background-color: color(primary);
  color: color(tertiary);
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  border-top: solid 1px;
  width: 100%;
  background-color: color(secondary);
  color: color(tertiary);
  font-size: 14px;
  font-weight: bold;
  img {
    width: 20px;
  }
}

.navbar-nav > li > a {
  font-size: 20px;
  color: color(tertiary);
  &.router-link-active {
    background-color: color(tertiary);
    color: color(secondary);
  }
}
