<form [ngFormModel]="profilesListForm">
  <select [ngFormControl]="viewingWhichControl">
    <option *ngFor="let name of (profileNames | async)" [value]="name">{{name}}</option>
  </select>
  <button class="btn" [hidden]="addingProfile" (click)="addingProfile = true">New</button>
  <button class="btn" [hidden]="addingProfile" (click)="setDefault()">Set as default</button>
  <input [hidden]="!addingProfile" ngControl="newName" #nM>
  <br>Valid: {{newNameControl.valid}}
  <br>Pending: {{newNameControl.pending}}
  <br>{{newNameControl.getError('newname')}}<br>
  <button [hidden]="!addingProfile" (click)="addNewProfile(nM.value); nM.value = ''; addingProfile = false;">Add</button>
</form>

<form #theForm="ngForm" [ngFormModel]="profileForm" (ngSubmit)="save(theForm)">
  <div class="form-group" ngControlGroup="localisation">
    <label>Please pick the iTunes API country</label>
    <select #cc="ngForm" class="form-control" ngControl="country">
      <option [ngValue]="{name: 'Australia', code: 'AU'}">Australia</option>
      <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
    </select>
    <p *ngIf="cc.control.hasError('problem')">{{cc.control.getError('problem')}}</p>
    <label>Display currency symbol</label>
    <input name="displayCurrencySymbol" [(ngModel)]="profile.localisation.displayCurrencySymbol" ngControl="displayCurrencySymbol" type="checkbox">
  </div>
  <div class="form-group" #detailsChunk="ngForm" [class.has-error]="!detailsGroup.valid" ngControlGroup="details">
    <label>First name</label>
    <input class="form-control" #fn="ngForm" ngControl="firstName" [(ngModel)]="profile.details.firstName" name="firstName" type="text">
    <span class="help-block" *ngIf="firstNameControl.hasError('pattern')">Pattern not matching: expected {{firstNameControl.getError('pattern').requiredPattern}}</span>
    <label>Last name</label>
    <input class="form-control" [(ngModel)]="profile.details.lastName" name="lastName" ngControl="lastName" type="text">
    <span class="help-block" *ngIf="lastNameControl.hasError('required')">This field is required</span>
    <label>Initials</label>
    <input class="form-control" [(ngModel)]="profile.details.initials" ngControl="initials" name="initials" type="text">
    <span class="help-block" *ngIf="!initialsControl.valid">
      <p *ngIf="initialsControl.hasError('pattern')">Capital letters only</p>
      <p *ngIf="initialsControl.hasError('minlength')">{{initialsControl.getError('minlength').requiredLength}} characters</p>
    </span>
  </div>
  <div class="form-group">
    <label>Max number of items in history</label>
    <input type="number" ngControl="historyMax" [(ngModel)]="profile.historyMax">
  </div>
  <button class="btn btn-default">Save</button>
</form>
